<!DOCTYPE html>
<html lang="pt">

    {% include 'reuse/base.html' %}

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          
          <div>
              <h4 class="h4 mb-0 text-gray-800">Registros de Log</h4>
          </div>

        </nav>    
    </body>
</html>