<!DOCTYPE html>
<html lang="pt">

{% include 'reuse/base.html' %}

<body id="page-top">

  <div id="wrapper">
    {% include 'reuse/sideBar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
        {% include 'reuse/headBar.html' %}

        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <div class="row">
             <!-- Processos e pendentes -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Processos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{processos}}</div>
                    </div>

                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Arquivos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{files}}</div>
                    </div>

                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Processadas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{refProcessadas}}</div>
                    </div>

                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Pendentes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{refPendentes}}</div>
                    </div>

                    <div class="col-auto">
                      <i class="fas fa-cog fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
 
            <!-- Referencias total  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Referências</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{referencias}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-word fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Traduzidos e pendentes -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Traduzidas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">000</div>
                    </div>

                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pendentes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">000</div>
                    </div>

                    <div class="col-auto">
                      <i class="fas fa-language fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- duplicados  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Duplicadas</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">000</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-check-double fa-3x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <!-- Area Chart -->
            <div class="col-lg-12 col-lg-12">
              <div class="card shadow mb-4">

                <!-- Gráfico Referências por Ano -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Referências - Ano</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      {% include 'reuse/footer.html' %}
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="Sair" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja sair do sistema?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione "Logout" abaixo se vocẽ esta pronto para finalizar essa sessão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{ url_for('views.sair') }}">Logout</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
