<!DOCTYPE html>
<html lang="pt">
  {% include 'reuse/base.html' %}

  <!-- corpo -->
  <body id="page-top" style="background:#fcf8ef">

    <div id="wrapper">
        {% include 'reuse/sideBar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
             {% include 'reuse/headBar.html' %}

                <div class="container-fluid">

                    <div class="card border-left-primary shadow mb-4">
                        <div class="card-header py-3">
                            <div class="col-12">
                                <h2 style="text-align:center; color:#ac29ba"><b>{{perfil.nomecompleto}}</b></h2>                    
                                <h6 style="text-align:center; color:#ac29ba">{{perfil.email}}</h6>                    
                            </div>
                        </div>

                        <div class="card-body">
                            <div id="paneMenu" class="container" >
                                <div class="row">
                                    <div class="col-12">
                                        <h5 style="color:white; text-align:center">
                                            <span class="pull-center" style="margin-top:-5px">     
                                                <a id="btn-dados" style="color:white; color:#4e73df" type="link" class="btn btn-link btn-lg" ><i class="material-icons">person_pin</i><br>Alterar Dados Pessoais</a>                                                
                                            </span>
                                        </h5>
                                        <hr style="margin-left:40px; margin-right:40px">    
                                        <h5 style="color:white; text-align:center">
                                            <span class="pull-center" style="margin-top:-5px">     
                                                <a id="btn-senha" style="color:white; color:#4e73df" type="link" class="btn btn-link btn-lg" ><i class="material-icons">lock</i><br>Alterar Senha</a>                                                
                                            </span>
                                        </h5> 
                                        <hr style="margin-left:40px; margin-right:40px">
                                        <h5 style="color:white; text-align:center">
                                            <span class="pull-center" style="margin-top:-5px">     
                                                <a id="btn-voltar" style="color:white; color:#4e73df" type="link" class="btn btn-link btn-lg"  href="{{ url_for('views.index')}}"><i class="material-icons">arrow_back</i><br>Voltar para o Início</a>                                                
                                            </span>
                                        </h5> 
                                        <hr style="margin-left:40px; margin-right:40px">

                                </div> 
                                </div> 
                            </div> 

                            <div id="body" name="body" class="container" >
                                <div class="row">
                                <div class="col-12">
                                        <div class="panel-group" style="margin-top:8px">    

                                            <div id="paneDados" class="panel panel-default"  style="margin-bottom:15px;  border-color:gray; display:none">                                                  
                                                <div class="panel-body" style="margin-top:3px; margin-bottom:-15px">

                                                    {% block content_registro %}
                                                        <div class="alert alert-warning" id="registro-alerta" style="display:none; text-align:center">{{ page.msg }}</div>        
                                                    {% endblock %}

                                                    <div class="col-12">
                                                        <input type="text" maxlength="100" style="margin-bottom: 15px; display:none" class="form-control form-control-md" name="id" id="id" value="{{perfil.id}}">
                                                        <input type="text" maxlength="100" style="margin-bottom: 15px; display:none" class="form-control form-control-md" name="email" id="email"  value="{{perfil.email}}">
                                                    </div>

                                                    <div class="col-12">
                                                        <input type="text" maxlength="100" style="margin-bottom: 15px" class="form-control form-control-md" name="nomecompleto" id="nomecompleto" placeholder="Nome Completo *" value="{{perfil.nomecompleto}}"  required>
                                                    </div>

                                                    <div class="col-12">
                                                        <input type="text" style="margin-bottom: 15px" class="form-control form-control-md" name="celular" id="celular" placeholder="Telefone Celular *" value="{{perfil.fonecelular}}" required>
                                                    </div>

                                                    <div class="col-12">
                                                        <select name="sexo" id="sexo" class="form-control" style="margin-bottom: 15px; color=gray"  required>
                                                            <option selected>{{perfil.sexo}}</option>
                                                            <option value="Masculino">Masculino</option>
                                                            <option value="Feminino">Feminino</option>
                                                            <option value="Outro">Outro</option>
                                                        </select>
                                                    </div>      
                                                    
                                                    <div class="input-group mb-6"  style="margin-bottom: 15px; color:gray; margin-left:10px; margin-right:-50px" >
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Data Nascimento </span>
                                                        </div>
                                                        <input type="date" class="form-control" name="dtnascimento" id="dtnascimento" style="margin-right:22px"  placeholder="Data Nascimento *" value="{{perfil.dtnascimento}}" required>
                                                    </div>                        

                                                    <!-- comandos --> 
                                                    <div class="form-group" style="text-align:center; padding-right:15px; margin-bottom:10px">                                       
                                                        <div class="col-12">
                                                            <a href="{{ url_for('views.atualizarPerfil')}}" name="btn-voltar" id="btn-voltar" type="link" class="btn btn-primary" style="border-color:gray;background-color:gray" ><i class="fas fa-arrow-left"></i> Voltar </a>                            
                                                            <button id="btnSalvarDados" type="button" class="btn btn-primary" ><i class="fas fa-save"></i> Salvar </button>                            
                                                        </div>
                                                    </div>    

                                                
                                                </div>        
                                            </div>  


                                            <div id="paneSenha" class="panel panel-default" style="margin-bottom:15px; border-color:gray; display:none">                                                  
                                                <div class="panel-body" style="margin-top:3px; margin-bottom:-15px">   

                                                    {% block content_senha %}
                                                        <div class="alert alert-warning" id="registro-alerta-senha" style="display:none; text-align:center">{{ page.msg }}</div>        
                                                    {% endblock %}

                                                    <div class="col-12">
                                                        <label style="color:#563A2D"> Senha Atual </label>
                                                        <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" ></div>
                                                    </div>

                                                    <div class="col-12">
                                                        <input type="password" maxlength="20" style="margin-bottom: 15px" class="form-control form-control-md" id="senhaAtual" placeholder="Senha *" required>
                                                    </div>

                                                    <div class="col-12">
                                                        <label style="color:#563A2D"> Nova Senha </label>
                                                        <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" ></div>
                                                    </div>


                                                    <div class="col-12">
                                                        <input type="password" maxlength="20" style="margin-bottom: 15px" class="form-control form-control-md" id="senha" placeholder="Senha *" required>
                                                    </div>
                                                        
                                                    <div class="col-12">
                                                        <input type="password" maxlength="20" style="margin-bottom: 15px" class="form-control form-control-md" name="resenha" id="resenha" placeholder="Digite novamente a senha *" required>
                                                    </div>

                                                    <!-- comandos --> 
                                                    <div class="form-group" style="text-align:center; padding-right:15px; margin-bottom:10px">                                       
                                                        <div class="col-12">
                                                            <a href="{{ url_for('views.atualizarPerfil')}}" name="btn-voltar" id="btn-voltar" type="link" class="btn btn-primary" style="border-color:gray;background-color:gray"><i class="fas fa-arrow-left"></i> Voltar </a>                            
                                                            <button id="btnSalvarSenha" type="button" class="btn btn-primary"> <i class="fas fa-save"></i> Salvar </button>                            
                                                        </div>
                                                    </div>    

                                                </div> 
                                            </div> 
                                        </div> 
                                    </div>   
                                </div>   
                            </div>   

                        </div>  
                    </div>                                        
                </div>
            </div>      


            {% include 'reuse/footer.html' %}
        </div>
    </div>

  </body>