<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="pt">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">       
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type='text/javascript'></script>
  </head>

  <body >
    <div class="row" style="margin-top:5px;margin-left:10px;margin-right:10px">       
        <!-- registro -->
        <div id="signupbox" style="display:true; margin-top:15px;margin-left:5px;margin-right:5px" class="col-12">                            
            <div class="panel panel-default" style="border-color:#ac29ba">        
                <div class="panel-heading" style="background-color:light-gray; border-color:#ac29ba" >
                    <div class="input-group" style="margin-left:-10px; margin-top:10px"> 
                        <a id="btn-voltar" style="color:#ac29ba" type="link" class="btn btn-link" href="{{ url_for('views.index') }}"><i class="material-icons">arrow_back_ios</i></a>                                                
                        <label style="color:#ac29ba; margin-left:-15px"><h4>Informe seus dados</h4></label>
                    </div>                        
                </div>

                <div class="panel-body" >

                    {% block content_registro %}
                        <div class="alert alert-warning" id="registro-alerta" style="display:none; text-align:center">{{ page.msg }}</div>        
                    {% endblock %}


                    <div class="col-12">
                        <label style="color:#b56426"> Identificação </label>
                        <div style="border-top: 1px solid#888; padding-top:15px; text-align:center" >
                    </div>

                    <div class="col-12">
                        <input type="text" maxlength="100" style="margin-bottom: 15px; color:#9e6ea7 " class="form-control form-control-lg" name="nomecompleto" id="nomecompleto" placeholder="Nome Completo *" required>
                    </div>

                    <div class="col-12">
                        <input type="email" maxlength="100" style="margin-bottom: 15px; color:#9e6ea7 " class="form-control form-control-lg" name="email" id="email" placeholder="Email *" required>
                    </div>

                    <div class="col-12">
                        <input type="text" style="margin-bottom: 15px; color:#9e6ea7 " class="form-control form-control-lg" name="celular" id="celular" placeholder="Telefone Celular *" required>
                        <script type="text/javascript">$("#celular").mask("(99) 99999-9999");</script>
                    </div>

                    <div style="margin-bottom: 15px; color:#9e6ea7 " class="input-group">
                        <span class="input-group-addon">Data Nascimento</span>
                        <input type="date" class="form-control" name="dtnascimento" id="dtnascimento" placeholder="Data Nascimento *" required>
                    </div>

                    <div class="col-12">
                        <select name="sexo" id="sexo" class="form-control" style="margin-bottom: 15px; color:#9e6ea7  " required>
                            <option selected>Sexo *</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>                                                

                    <div class="col-12">
                        <input type="password" maxlength="20" style="margin-bottom: 15px; color:#9e6ea7 " class="form-control form-control-lg" name="senha" id="senha" placeholder="Senha *" required>
                    </div>
                        
                    <div class="col-12">
                        <input type="password" maxlength="20" style="margin-bottom: 15px; color:#9e6ea7 " class="form-control form-control-lg" name="resenha" id="resenha" placeholder="Digite novamente a senha *" required>
                    </div>


                    <!-- comandos --> 
                    <div class="form-group" style="text-align:center; padding-right:15px; margin-bottom:-1px">                                       
                        <div class="col-12">
                            <button href="#" name="btn-signup" id="btn-signup" type="button" class="btn btn-warning" style="border-color:#ac29ba;background-color:#ac29ba" ><i class="icon-hand-right"></i> Enviar </button>                            
                        </div>
                    </div>    
                </div>            
            </div>    
        </div>
    </div>

  </body> 
</html>
        